/* Start FontStyle */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* END FontStyle */

/* Start Reset Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END Reset Default */

/* Start Global Styles */
body {
  font-family: "Rubik", sans-serif;
}
/* END Global Styles */

/* Start Header Section */

header {
  height: 400px;
  background-image: url(../img/pexels-junnoet-188014\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/* Start Nav Section */
nav {
  padding-top: 20px;
  ul {
    list-style: none;
    li {
      padding-left: 40px;
      display: inline-block;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

/* End Nav Section */
/* Start  Title */
.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  button {
    border: none;
    width: 100px;
    height: 30px;
    background-color: rgb(151, 81, 217);
    margin-left: 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
  /* End Title */
}

/* END Header Section */

/* Start Media Section */
.media {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* End Media Section */
